<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/../css/css/DISAVA.css" />
		<link rel="stylesheet" media="screen and (min-width:980px)"  href="/../css/HOME.css" />
		<link rel="stylesheet" media="screen and (max-width:980px)"  href="/../css/STYLISH_minn.css" />
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/../css/css/DISAVA_min.css" />
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/css/a.css" />
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/css/mina.css" />
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/css/BRANDS.css"/>
	</head>
	<body>
		<div class="header">
			<div class="header-content">
				<div class="header-pic"><img src="/imgaes/Home/logo.png"></div>
				<div class="header-nav">
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a><span>ˇ</span>
							<div class="hover">
								<p>
									<a href="http://localhost:8081/MEO_COLLECTIVE">C/MEO COLLECTIVE</a>
								</p>
								<p>
									<a href="http://localhost:8081/KEEPSAKE">KEEPSAKE</a>
								</p>
								<p>
									<a href="http://localhost:8081/The_Fifth_Label">The Fifth Label</a>
								</p>
								<p>
									<a href="http://localhost:8081/FINDERS">FINDERS</a>
								</p>
								<p>
									<a href="http://localhost:8081/DISAVA">DISAVA</a>
								</p>
								<p>
									<a href="http://localhost:8081/FEW_MODA">FEW MODA</a>
								</p>
								<p>
									<a href="http://localhost:8081/GLAMOROUS">GLAMOROUS</a>
								</p>
							</div>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a><span>ˇ</span></li>
					</ul>
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a>
						</li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a>
						</li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="bit_row">
			<div class="bit_roww">
				<div class="bit_left"></div>
				<div class="bit_content">
					<div class="content_img">
						<div><img src="/../imgaes/Dis/3.jpg"/><p>微信图片_20170423003817</p></div>
						<div><img src="/../imgaes/Dis/1.jpg"/></div>
						<div><img src="/../imgaes/Dis/4.jpg"/></div>
					</div>
					<div><string>BRAND STORY</string></div>
					<div><img src="/imgaes/Dis/2.png"/></div>
					<div>DISAYA来自泰国，是由毕业于中央圣马丁学院的Disaya Sorakraikitikul创立的同名女装品牌。Disaya擅长蕾丝、印花、珍珠等细节的设计与运用，品牌风格浪漫优雅、精致华丽，深受欧美、泰国、日本等明星的喜爱，如Agyness Deyn、Jennifer Lopez、Anne Hathaway、Aom Sushar、Esther Supreeleela等。DISAYA包括成衣系列及时尚珠宝，目前在Henri Bendels、Le Bon Marche，Seibu，Harrods，Harvey Nichols等知名精品店有售。</div>
				</div>
			</div>
		</div>
		<div class="footer">
		    <div class="footer-content"><span>Copyright © MUSEUM27</span></div>
		</div>
		<script type="text/javascript">
			var ul1=document.getElementsByTagName('ul')[0]
			var ul2=document.getElementsByTagName('ul')[1]
			ul1.onclick=function(){
				if(ul2.style.display=="block"){
					ul2.style.display="none"
				}else{			
					ul2.style.display="block"
				}
			}
		</script>
	</body>
</html>
