<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" media="screen and (min-width:980px)"  href="/../css/HOME.css" />
    	<link rel="stylesheet" media="screen and (max-width:980px)"  href="/../css/STYLISH_minn.css" />
    	<link rel="stylesheet" media="screen and (min-width:980px)" href="/../css/BRANDS.css"/>
		<link rel="stylesheet" media="screen and (min-width:975px)" href="/../css/css/FINDERS.css" />
		<link rel="stylesheet" media="screen and (max-width:975px)" href="/../css/css/FINDERS_min.css" />
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/css/a.css" />
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/css/mina.css" />
	</head>
	<body>
		<div class="header">
			<div class="header-content">
				<div class="header-pic"><img src="/imgaes/Home/logo.png"></div>
				<div class="header-nav">
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a><span>ˇ</span>
							<div class="hover">
								<p>
									<a href="http://localhost:8081/MEO_COLLECTIVE">C/MEO COLLECTIVE</a>
								</p>
								<p>
									<a href="http://localhost:8081/KEEPSAKE">KEEPSAKE</a>
								</p>
								<p>
									<a href="http://localhost:8081/The_Fifth_Label">The Fifth Label</a>
								</p>
								<p>
									<a href="http://localhost:8081/FINDERS">FINDERS</a>
								</p>
								<p>
									<a href="http://localhost:8081/DISAVA">DISAVA</a>
								</p>
								<p>
									<a href="http://localhost:8081/FEW_MODA">FEW MODA</a>
								</p>
								<p>
									<a href="http://localhost:8081/GLAMOROUS">GLAMOROUS</a>
								</p>
							</div>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a><span>ˇ</span></li>
					</ul>
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a>
						</li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a>
						</li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="bit_row">
			<div class="bit_roww">
				<div class="bit_left"></div>
				<div class="bit_content">
					<div class="content_left">
						<p>/BRAND STORY/</p>
						<p>FINDERS因其简约却不失优雅的设计风格，已成为时尚界炙手可热的时装品牌之一。</p>
						<p>从2007年创立至今，一直忠于自我，将高级的时装面料和精细的剪裁做工融入品牌的独特设计中。</p>
					</div>
					<div class="content_right"><img src="/../imgaes/Fin/1.jpg"/></div>
				</div>
			</div>
		</div>
		<div class="footer">
		    <div class="footer-content"><span>Copyright © MUSEUM27</span></div>
		</div>
		<script type="text/javascript">
			var ul1=document.getElementsByTagName('ul')[0]
			var ul2=document.getElementsByTagName('ul')[1]
			ul1.onclick=function(){
				if(ul2.style.display=="block"){
					ul2.style.display="none"
				}else{			
					ul2.style.display="block"
				}
			}
		</script>
	</body>
</html>

