<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" media="screen and (min-width:980px)"  href="/CSS/HOME.css" />
    	<link rel="stylesheet" media="screen and (max-width:980px)"  href="/css/STYLISH_minn.css" />
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/css/BRANDS.css"/>
		<link rel="stylesheet" media="screen and (min-width:600px) and (max-width:980px)" href="/css/minBRANDS.css"/>
		<link rel="stylesheet" media="screen and (max-width:600px)" href="/css/somll.css"/>
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/css/a.css" />
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/css/mina.css" />
	</head>

	<body>
		<div class="header">
			<div class="header-content">
				<div class="header-pic"><img src="/imgaes/Home/logo.png"></div>
				<div class="header-nav">
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a><span>ˇ</span>
							<div class="hover">
								<p>
									<a href="http://localhost:8081/MEO_COLLECTIVE">C/MEO COLLECTIVE</a>
								</p>
								<p>
									<a href="http://localhost:8081/KEEPSAKE">KEEPSAKE</a>
								</p>
								<p>
									<a href="http://localhost:8081/The_Fifth_Label">The Fifth Label</a>
								</p>
								<p>
									<a href="http://localhost:8081/FINDERS">FINDERS</a>
								</p>
								<p>
									<a href="http://localhost:8081/DISAVA">DISAVA</a>
								</p>
								<p>
									<a href="http://localhost:8081/FEW_MODA">FEW MODA</a>
								</p>
								<p>
									<a href="http://localhost:8081/GLAMOROUS">GLAMOROUS</a>
								</p>
							</div>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a><span>ˇ</span></li>
					</ul>
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a>
						</li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a>
						</li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a>
						</li>
					</ul>

				</div>
			</div>
		</div>

		<div class="footer">
			<div class="footer-content"><span>Copyright © MUSEUM27</span></div>
		</div>
	</body>

</html>
<script type="text/javascript">
			var ul1=document.getElementsByTagName('ul')[0]
			var ul2=document.getElementsByTagName('ul')[1]
			ul1.onclick=function(){
				if(ul2.style.display=="block"){
					ul2.style.display="none"
				}else{			
					ul2.style.display="block"
				}
			}
</script>