<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" media="screen and (min-width:980px)"  href="/../css/HOME.css" />
    	<link rel="stylesheet" media="screen and (max-width:980px)"  href="/../css/STYLISH_minn.css" />
    	<link rel="stylesheet" media="screen and (min-width:980px)" href="/../css/BRANDS.css"/>
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/../css/css/KEEPSAKE.css"/>
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/../css/css/minKEEPSAKE.css"/>
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/css/a.css" />
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/css/mina.css" />
	</head>
	<body>
		<div class="header">
			<div class="header-content">
				<div class="header-pic"><img src="/imgaes/Home/logo.png"></div>
				<div class="header-nav">
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a><span>ˇ</span>
							<div class="hover">
								<p>
									<a href="http://localhost:8081/MEO_COLLECTIVE">C/MEO COLLECTIVE</a>
								</p>
								<p>
									<a href="http://localhost:8081/KEEPSAKE">KEEPSAKE</a>
								</p>
								<p>
									<a href="http://localhost:8081/The_Fifth_Label">The Fifth Label</a>
								</p>
								<p>
									<a href="http://localhost:8081/FINDERS">FINDERS</a>
								</p>
								<p>
									<a href="http://localhost:8081/DISAVA">DISAVA</a>
								</p>
								<p>
									<a href="http://localhost:8081/FEW_MODA">FEW MODA</a>
								</p>
								<p>
									<a href="http://localhost:8081/GLAMOROUS">GLAMOROUS</a>
								</p>
							</div>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a><span>ˇ</span></li>
					</ul>
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a>
						</li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a>
						</li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		
		<div class="con">
			<div class="contcon">
				<div class="contimg">
					<div class="conttext">
						<p>/ BRAND STORY /</p>
						<b>自2011年成立，KEEPSAKE着重于对传统晚礼服的革新；这源于AUSTRALIAN FASHION LABELS创意总监Melanie Flintoft的想法，她看到了行业中价格适中的女士礼服板块的缺失，希望新推出的礼服价格合理，剪裁线条立体，面料高端，细节精美。</b>
						<b>KEEPSAKE品牌定位“华丽、梦幻、柔美”，在全球知名的高级零售店中均有销售，如Bloomingdales、Nordstroms、Revolve Clothing、David Jones。</b>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		<div class="footer">
		    <div class="footer-content"><span>Copyright © MUSEUM27</span></div>
		</div>
	</body>
</html>
<script type="text/javascript">
			var ul1=document.getElementsByTagName('ul')[0]
			var ul2=document.getElementsByTagName('ul')[1]
			ul1.onclick=function(){
				if(ul2.style.display=="block"){
					ul2.style.display="none"
				}else{			
					ul2.style.display="block"
				}
			}
</script>
