<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" media="screen and (min-width:980px)"  href="/../css/HOME.css" />
    	<link rel="stylesheet" media="screen and (max-width:980px)"  href="/../css/STYLISH_minn.css" />
    	<link rel="stylesheet" media="screen and (min-width:980px)" href="/../css/BRANDS.css"/>
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/../css/css/MEO COLLECTIVE.css"/>
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/../css/css/minMEO COLLECTIVE.css"/>
		<link rel="stylesheet" media="screen and (min-width:980px)" href="/css/a.css" />
		<link rel="stylesheet" media="screen and (max-width:980px)" href="/css/mina.css" />
		
	</head>
	<body>
		<div class="header">
			<div class="header-content">
				<div class="header-pic"><img src="/imgaes/Home/logo.png"></div>
				<div class="header-nav">
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a><span>ˇ</span>
							<div class="hover">
								<p>
									<a href="http://localhost:8081/MEO_COLLECTIVE">C/MEO COLLECTIVE</a>
								</p>
								<p>
									<a href="http://localhost:8081/KEEPSAKE">KEEPSAKE</a>
								</p>
								<p>
									<a href="http://localhost:8081/The_Fifth_Label">The Fifth Label</a>
								</p>
								<p>
									<a href="http://localhost:8081/FINDERS">FINDERS</a>
								</p>
								<p>
									<a href="http://localhost:8081/DISAVA">DISAVA</a>
								</p>
								<p>
									<a href="http://localhost:8081/FEW_MODA">FEW MODA</a>
								</p>
								<p>
									<a href="http://localhost:8081/GLAMOROUS">GLAMOROUS</a>
								</p>
							</div>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a><span>ˇ</span></li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a><span>ˇ</span></li>
					</ul>
					<ul>
						<li>
							<a href="http://localhost:8081/Home">HOME</a>
						</li>
						<li>
							<a href="http://localhost:8081/BRANDS">BRANDS</a>
						</li>
						<li>
							<a href="http://localhost:8081/STYLISH">STYLISH</a>
						</li>
						<li>
							<a href="http://localhost:8081/CONTACT">CONTACT</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		
		<div class="cont">
			<div class="contcon">
				<div class="conleft">
					<img src="/../imgaes/BRADS/1.jpg">
				</div>
				<div class="conright">
					<p>BRAND STORY</p>
					<span>自2010年成立，C/MEO COLLECTIVE致力于塑造品牌的独特美学，运用实验性的设计，诠释未来时尚审美。</span>
					<span>C/MEO COLLECTIVE每年围绕一个设计主题，创作多个服装系列。设计师从主题出发，寻找灵感，挑选服装基础印花、剪裁和面料。因此，每个系列都别具一格，区别于其他系列。但是，不同系列中的每件单品又能相互融合，叠穿搭配“MIX&MATCH”的设计理念贯穿于品牌的所有系列。</span>
				</div>
			</div>
		</div>
		
		
		
		<div class="footer">
		    <div class="footer-content"><span>Copyright © MUSEUM27</span></div>
		</div>
	</body>
</html>
<script type="text/javascript">
			var ul1=document.getElementsByTagName('ul')[0]
			var ul2=document.getElementsByTagName('ul')[1]
			ul1.onclick=function(){
				if(ul2.style.display=="block"){
					ul2.style.display="none"
				}else{			
					ul2.style.display="block"
				}
			}
</script>
